<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("./_share/metadata.ejs") %>
  <title>Document</title>
  <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
  <h1>Hello World! ok</h1>
  <%- include("./_share/javascripts.ejs") %>
</body>
</html>